<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:ss="http://www.asm.com/schema/reference"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.asm.com/schema/reference
        http://www.asm.com/schema/reference/reference.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <ss:reference id="demo" protocol="rmi"></ss:reference>
</beans>